.featuresLayout {
 display: grid;
 grid-template-columns: 280px 1fr;
 gap: 20px;
 align-items: start;
 padding: 0 5% 5% 0 ;
}

.content {
 display: flex;
 flex-direction: column;
 gap: 20px;
 padding-top: 60px;
}

@media (max-width: 1024px) {
 .featuresLayout {
 grid-template-columns: 1fr;
 }
}