.section {
 width: 100%;
 padding: 100px 7%;
 display: flex;
 align-items: center;
 gap: 80px;
 font-family: "DM Sans";
}

.reverse {
 flex-direction: row-reverse;
}

.left,
.right {
 flex: 1;
 text-align: left;
}

.imageCard {
 width: 100%;
 height: 420px;
 border-radius: 30px;
 background-color: #8fb4fa;
 color: white;
 font-size: 42px;
 font-weight: 800;
 display: flex;
 align-items: center; /* Centers image vertically */
 justify-content: center; /* Centers image horizontally */
 transition: all 0.3s ease;
 box-shadow: 6px 6px 4px #111827cb;
 overflow: hidden; /* Prevents image from spilling out of rounded corners */
}
.imageCard img {
 max-width: 90%; /* Prevents the image from touching the edges */
 max-height: 90%; /* Keeps the image proportional */
 object-fit: contain; /* Ensures the whole image stays visible without cropping */
}

.imageCard:hover {
 transform: scale(1.05);
 box-shadow: 10px 10px 14px #111827ef;
}

.right h2 {
 font-size: 46px;
 line-height: 1.2;
 color: #111827;
}

.right p {
 margin-top: 25px;
 font-size: 17px;
 line-height: 1.8;
 color: #6b7280;
}

.right ul {
 margin-top: 35px;
 display: flex;
 flex-direction: column;
 gap: 18px;
}

.right li {
 font-size: 16px;
 color: #374151;
}

@media (max-width: 992px) {

 .section {
 flex-direction: column;
 }

 .reverse {
 flex-direction: column;
 }

}

@media (max-width: 768px) {

 .right h2 {
 font-size: 38px;
 }

}